* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-family: "Nunito Sans";
  font-size: 62.5%;
  scroll-behavior: smooth;
}
main {
  overflow-x: hidden;
}
.wrap {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
// header

header {
  // background: linear-gradient(
  //   120deg,
  //   rgba($color: #135379, $alpha: 0.949) 0%,
  //   rgba($color: #7fcfc7, $alpha: 0.949) 100%
  // );
  background-image: linear-gradient(120deg, #135379 0%, #7fcfc7 100%);
  padding-bottom: 119px;
  .header_top {
    padding: 47px 0 97px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo_header {
      font-size: 30px;
      color: #ffffff;
      font-weight: 900;
      font-style: italic;
      text-decoration: none;
      font-family: "Lato";
    }
    .account {
      display: flex;
      margin-right: -37px;
      li {
        margin-right: 37px;
        &:nth-child(4) {
          margin-right: 72px;
        }
        list-style: none;
        a {
          text-decoration: none;
          letter-spacing: 0px;
          text-transform: uppercase;
          color: #fff;
          font-weight: 900;
          font-size: 1.4rem;
          font-family: "Nunito Sans";
          &:hover {
            color: #80d0c7;
          }
          &:active {
            color: #80d0c7;
          }
        }
      }
    }
  }
  // options
  .options {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    .select_options {
      margin-right: -10px;
      margin-left: -10px;
      select {
        border-right: 27px solid transparent;
        outline: none;
        padding: 0 24px;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: rgba($color: #ffffff, $alpha: 0.051);
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        margin-right: 10px;
        margin-left: 10px;
        &:first-child {
          width: 230px;
        }
      }
    }
    .search {
      position: relative;
      input {
        background: transparent;
        padding: 0 24px;
        border-radius: 25px;
        height: 50px;
        width: 295px;
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        outline: #3f8096;
        &::placeholder {
          font-size: 16px;
          color: #ffffff;
          font-weight: 400;
        }
      }
      img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
  .banner {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    .slide {
      display: flex !important;
    }
    .slick-next:before {
      content: "";
      display: block;
      width: 54px;
      height: 54px;
      background-image: url("../image/right.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    .slick-prev:before {
      content: "";
      display: block;
      width: 54px;
      height: 54px;
      background-image: url("../image/left.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    .slick-prev,
    .slick-next {
      width: 54px;
      height: 54px;
      border-radius: 26px !important;
      z-index: 10;
      border-radius: 27px;
      background-color: rgba($color: #ffffff, $alpha: 0.051);
      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.251);
      }
    }
    .slick-next {
      right: -140px !important;
    }
    .slick-prev {
      left: -140px !important;
    }

    .banner_left {
      width: 50%;
      margin-right: 15px;
      margin-left: 15px;
      section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        img {
          max-width: 100%;
          height: 316px;
          border-radius: 4px;
          width: 100%;
          object-fit: cover;
        }
        h2 {
          font-size: 32px;
          color: #ffffff;
          font-weight: 400;
          margin-top: 24px;
          line-height: 40px;
        }
        .banner_description {
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          font-weight: 400;
          margin-bottom: 10px;
          margin-top: 6px;
        }
        .author {
          font-size: 14px;
          color: #ffffff;
          font-weight: 700;
        }
      }
    }
    .banner_right {
      margin-right: 15px;
      margin-left: 15px;
      width: 50%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: space-between;
      section {
        max-width: 270px;
        img {
          height: 156px;
          border-radius: 4px;
          width: 100%;
          object-fit: cover;
        }
        h3 {
          margin-top: 15px;
          margin-bottom: 5px;
          font-size: 16px;
          color: #fff;
          font-weight: 700;
        }
        p {
          font-size: 14px;
          color: #ffffff;
          font-weight: 700;
        }
      }
    }
  }
}
.header_floating {
  filter: drop-shadow(-3px 0 15px rgba(16, 19, 44, 0.1));
  background-color: #ffffff;
  .header_menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list--menu {
      display: flex;
      align-items: center;
      margin-right: -34px;
      li {
        list-style: none;
        margin-right: 34px;
        a {
          text-decoration: none;
          font-size: 13px;
          letter-spacing: 0px;
          text-transform: uppercase;
          color: #10132c;
          font-weight: 900;
          &:hover,
          &:active {
            background-image: linear-gradient(120deg, #135379 0%, #7fcfc7 100%);
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
          }
        }
        button {
          cursor: pointer;
          color: #fff;
          width: 150px;
          height: 50px;
          border-radius: 25px;
          background-image: linear-gradient(120deg, #135379 0%, #7fcfc7 100%);
          &:hover {
            background: rgba($color: #135379, $alpha: 0.751);
          }
        }
      }
    }
  }
}
.content {
  padding-top: 40px;
}
.article {
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
  .article_image {
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
    img {
      object-fit: cover;
      height: 500px;
      border-radius: 4px;
      width: 100%;
    }
  }
  .article_content {
    padding: 10px 19px 3px 19px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
    .content_top {
      h2 {
        font-size: 40px;
        color: #10132c;
        font-weight: 400;
        line-height: 48px;
      }
      .article--dicription {
        margin-top: 24px;
        font-size: 18px;
        line-height: 28px;
        color: #10132c;
        font-weight: 400;
      }
      .article--author {
        margin-top: 25px;
        display: flex;
        align-items: center;
        height: 30px;
        img {
          object-fit: cover;
          max-width: 30px;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          margin-right: 11px;
        }
        span {
          font-size: 14px;
          color: #10132c;
          font-weight: 700;
        }
      }
    }
    .content_bottom {
      display: flex;
      img {
        object-fit: cover;
        max-width: 180px;
        width: 100%;
        height: 123px;
        border-radius: 4px;
        margin-right: 15px;
      }
      .content_bottom--descript {
        margin-left: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        h3 {
          font-size: 20px;
          color: #10132c;
          font-weight: 700;
          margin-top: -8px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
          color: #10132c;
          font-weight: 400;
        }
        span {
          font-size: 14px;
          color: #10132c;
          font-weight: 700;
        }
      }
    }
  }

  &:nth-child(2) {
    margin-top: 116px;
    .article_content {
      padding: 10px 20px 0 0;
      .content_top {
        .article--author {
          margin-top: 28px;
        }
      }
      .content_bottom {
        .content_bottom--descript {
          h3 {
            margin-top: -11px;
          }
        }
      }
    }
  }
  &:nth-child(3) {
    margin-top: 116px;
    .article_content {
      padding: 10px 0px 3px 19px;
      .content_top {
        .article--dicription {
          margin-top: 28px;
        }
      }
    }
  }
}

.loading {
  margin-top: 118px;
  background-color: rgba($color: #10132c, $alpha: 0.051);
  position: relative;
  .load {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-right: 10px;
    }
    span {
      margin-left: 10px;
      font-size: 14px;
      text-transform: uppercase;
      color: #10132c;
      font-weight: 800;
    }
  }
  .goup {
    cursor: pointer;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: drop-shadow(-3px 0 25px rgba(16, 19, 44, 0.1));
    background-color: #ffffff;
    top: -50%;
    right: 100px;
    &:hover {
      background-color: rgba($color: rgb(116, 111, 111), $alpha: 0.3);
    }
  }
}
footer {
  height: 373px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(120deg, #135379 0%, #7fcfc7 100%);
  .footer {
    display: flex;
    justify-content: space-between;
    .footer_left {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .logo {
        a {
          text-decoration: none;
          font-size: 30px;
          color: #ffffff;
          font-weight: 900;
          font-style: italic;
          font-family: "Lato";
        }
      }
      .download {
        display: flex;
        margin: 24px 0;
        .apple {
          text-decoration: none;
          margin-right: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 188px;
          height: 77px;
          border-radius: 39px;
          background-color: rgba(16, 19, 44, 0.050980392156862744);
          &:hover {
            background-color: rgba(16, 19, 44, 0.250980392156862744);
          }
          img {
            margin-right: 12px;
          }
          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          p {
            font-size: 18px;
            color: #fefefe;
            font-weight: 800;
            &:first-child {
              margin-top: 6px;
              font-size: 14px;
              color: #fefefe;
              font-weight: 400;
            }
          }
        }
        .android {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 188px;
          height: 77px;
          border-radius: 39px;
          background-color: rgba(16, 19, 44, 0.050980392156862744);
          &:hover {
            background-color: rgba(16, 19, 44, 0.250980392156862744);
          }
          img {
            margin-left: 12px;
          }
          div {
            margin-left: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          p {
            font-size: 18px;
            color: #fefefe;
            font-weight: 800;
            &:first-child {
              margin-top: 6px;
              font-size: 14px;
              color: #fefefe;
              font-weight: 400;
            }
          }
        }
      }
      .copyright {
        display: flex;
        p {
          font-size: 14px;
          line-height: 22px;
          color: #ffffff;
          font-weight: 400;
          &:first-child {
            margin-right: 15px;
            font-size: 14px;
            color: #ffffff;
            font-weight: 400;
          }
        }
      }
    }
    .footer_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .social-networks {
        display: flex;
        justify-content: space-between;
        .company {
          text-align: right;
          margin-right: 102px;
          h3 {
            font-size: 20px;
            line-height: 28px;
            color: #fefefe;
            font-weight: 700;
          }
          ul {
            li {
              margin-top: 3px;
              list-style: none;
              a {
                text-decoration: none;
                font-size: 16px;
                line-height: 28px;
                color: #fefefe;
                font-weight: 400;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .support {
          text-align: right;
          h3 {
            font-size: 20px;
            line-height: 28px;
            color: #fefefe;
            font-weight: 700;
          }
          ul {
            li {
              margin-top: 3px;
              list-style: none;
              a {
                text-decoration: none;
                font-size: 16px;
                line-height: 28px;
                color: #fefefe;
                font-weight: 400;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      .contact {
        margin-top: 17px;
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          li {
            list-style: none;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              border-radius: 20px;
              background-color: rgba($color: #10132c, $alpha: 0.102);
              text-decoration: none;
              &:hover {
                background-color: rgba($color: #10132c, $alpha: 0.302);
              }
            }
          }
        }
      }
    }
  }
}
.header_top {
  .menu {
    display: none;
  }
}
.copy {
  display: none;
  p {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    &:first-child {
      margin-right: 15px;
      font-size: 14px;
      color: #ffffff;
      font-weight: 400;
    }
  }
}

.active {
  background-image: linear-gradient(120deg, #135379 0%, #7fcfc7 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; 
}

